@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Lora', serif;
}
.outer-box{
    height:100vh;
    width:100vw;
    background: linear-gradient(to top left ,#00B4D8,#90E0E5);
}
.inner-box{
    width:400px;
    margin:0 auto;
    position:relative;
    top:40%;
    transform: translateY(-50%);
    padding: 20px 40px; 
    background-color: #ffffff10;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #107ac1;
    z-index: 2;
}
.signup-header h1{
    font-size: 1.65rem;
    color:#212121;
}

.signup-header p{
    font-size: 0.9rem;
    color:#555;
}
.signup-body{
    margin: 20px 0;
}
.signup-body p{
    margin:10px 0;
}
.signup-body p label{
    display:block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding:10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top:4px;
}
.signup-body p input[type="submit"]{
    background-color: #4092c9;
    border:none;
    color:white;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #107ac1;
}
.signup-footer p{
    color:#555;
    text-align: center;
}
.signup-footer p a{
    color:#1287d4
}
.circle{
    width:200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top ,#ffffff33,#ffffffff);
    position: absolute;
}
.c1{
    top:100px;
    left:70px;
    
}
.c2{
    bottom:100px;
    right:70px;
}