@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Inconsolata&family=Lora:ital@1&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #edeef0;
}
a{
    text-decoration: none;
    color:#2b2c2d
}
.drop{
    transition: opacity .15s ease-in-out;
    background-color: rgb(255, 255, 255);
    border-color: #2b2c2d;
}
.ul1{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
}
.ul1 li{
    list-style: node;
    padding: 5px 10px;
    margin-top: -20px;
    margin-left: 10%;
    height: 50px;
    width: 20% ;
}
p{
    color:aliceblue;
}
#i1{
   border-left:1px solid #2b2c2d;
   height:50px;
   background-color: rgb(176, 171, 171);
   width: auto;
}
.i1:hover #i11::after{
   content: 'Pakistan Won!';
   font-size: 15;
}
#i2{
    border-left:1px solid #2b2c2d;
    height:50px;
    background-color:rgb(209, 201, 201);
 }
 #i2:hover{
    content: 'Pakistan Won!';
 }
 #i3{
    border-left:1px solid #2b2c2d;
    height:50px;
    background-color:rgb(209, 201, 201);
 }
 #i4{
    border-left:1px solid #2b2c2d;
    height:50px;
    background-color:rgb(209, 201, 201);
 }
 #i5{
    border-left:1px solid #2b2c2d;
    height:50px;
    background-color: rgb(189, 185, 185);
 }

.top{
    background-color: #2b2c2d;
    height:44px;
    width: 100%;
}
h1{
    background-image: url(https://a.espncdn.com/redesign/assets/img/logos/logo-espn-82x20.png);
    background-color:#d00;
    color:transparent;
    text-indent: -9999px;
    text-shadow: none;
    cursor: pointer;
    margin-left: 60px;
    transform: skew(3220deg, 0);
    position: relative;
    background-size: 82px 20px;
    height: 44px;
    width: 88px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.right{
    height:130px;
    width: 250px;
    margin-left:7%;
    margin-top: 20px;
    text-align: left;
    border:1px;
    background-color:white;
    border-radius: 8%;
}
#signup{
    width:80%;
    margin-top: 8%;
    padding-top: 1%;
    border-radius:15px;
    background-color: #06c;
    color:white;
    margin-left: 8%;
    font-family: 'Ubuntu', sans-serif;
}
#signup:hover{
    background-color: rgb(5, 78, 150);
}
#login:hover{
    background-color: rgb(118, 166, 215);
}
#login{
    width:80%;
    margin-top: 5%;
    padding-top: 1%;
    border-radius:15px;
    background-color: white;
    color:#06c;
    border-color: #06c;
    margin-left: 8%;
}
.right h4{
    font-family: 'Ubuntu', sans-serif;
}
.left{
    height: 240px;
    width: 350px;
    border: 1px balck;
    margin-left: 73%;
    margin-top: -8%;
    background-color:white;
    border-radius: 10px;
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;

}
.ulLeft{
    text-align: left;
    font-size: 0.985em;
   
}
.ulLeft li{
    margin-left:6%;
    padding-top: 2.5%;
}
.matchResult{
    height:500px;
    width:700px;
    margin-left: 25%;
    background-color: white;
    margin-top: -16%;
    border-radius: 15px;
}
.gamedetails{
    background: linear-gradient(to right,#DA020E,#7A003C);
    text-align: center;
    border-radius: 15px;
    width:100%;
}
.sp{
    color: white;
    font-size: 0.8rem;
    font-family: 'Ubuntu', sans-serif;
}
#MANlogo{
    height: 42px;
    width: 42px;
    margin-left: 15%;
    margin-top: -2%;
    vertical-align: top;
}
.teamA{
    text-align: left;
    font-size: 16px;
}
.teamB{
    /* text-align: right; */
    padding-right:10%;
    color: #6c6d6f;
    font-size: 16px;
}
.teamnameA{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
}
.teamnameB{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    text-align: right;
}
#AVlogo{
    height: 42px;
    width: 42px;
    margin-left:60%;
    margin-top:-11%;
    vertical-align: top;
}
/* .top{
    margin-top: 10px;
    height: 45px;
    width: 100%;
    background: #d00;
    left: 0px;
    right: -10px;
} */
 /* .top>h1 {
    background-image: url(https://a.espncdn.com/redesign/assets/img/logos/logo-espn-82x20.png);
    background-size: 82px 20px;
    width: 88px;
     background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
    background-color: #d00;
    text-shadow: none;
    display: block;
    height: 44px;
    margin-left: 10px;
    position: relative;
     cursor: pointer;
    
    
} */

/* h1{
    color:rgba(0,0,0,0);
    color:transparent;
    display: block;
    height: 44px;
    font:0/0
    margin-left: 10px;
    position: relative;
    background-repeat:no-repeat;
} */