@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Inconsolata&family=Lora:ital@1&display=swap');
*{
    padding:0;
    margin: 0;
}
.button{
    height:100px;
    width:100px;
    padding:5%;
    margin-top:8%;
    margin-left:3%;
    border-radius: 5%;
    box-shadow: 2px 2px red;
}
body{
    background-color: #33415C;
}
h1{
    font-family: 'Dancing Script', cursive;
    color:white;
    text-shadow: 2px 0px red;
    text-align: center;
    font-size: 7rem;
    padding:4%;
}
.button{
    font-size: 4em;
    color:red;
}
.button:hover{
    background-color: aliceblue;
    box-shadow: 2px 2px rgb(21, 201, 211);
}